
.first{
    background-color: blue;
    color: white;
    display: inline;
}
.fh{
    background-color: aquamarine;
    color: black;
    display:flex;
    padding: 10px;
    width: 300px;
}
.sh{
    background-color: blanchedalmond;
    color: black;
    display: flex;
    width: 300px;
    padding: 10px;
}
.button{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    gap: 10;
}